body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
​
body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
​
input,
textarea,
select,
button {
    outline: none;
    font-family: Arial;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
​
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
​
a {
    text-decoration: underline;
    outline: none;
}
​
a:hover {
    text-decoration: none;
}
​
h1, h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    color: #545454;
}


.mainer {
    width: 750px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    margin: 0 -15px;
    padding: 25px 0 65px 0;
}
.header__col {
    padding: 0 15px;
}
.header__col--stretch {
    flex-grow: 1;
}

.logo__img {
    display: inline-block;
}
.logo__link:hover {
    opacity: 0.7;
}
.navigation {
    margin: 0 40px 0 0;
    text-align: right;
}
.navigation__link {
    text-decoration: none;
    margin: 0 45px 0 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: inline-block;
    padding: 3px 0;
    border-bottom: 1px solid transparent;
}
.navigation__link:hover,
.navigation__link--active {
    border-bottom-color: #fff;
}
.hamburger {
    width: 22px;
    height: 1px;
    background: #fff;
    position: relative;
}
.hamburger:before,
.hamburger:after {
    content: '';
    height: 1px;
    position: absolute;
    top: -6px;
    left: 0;
    width: 100%;
    background: #fff;
}
.hamburger:after {
    top: auto;
    bottom: -6px;
}
.block-card {
    background: #fff;
    position: relative;
    display: flex;
}

.block-card::before,
.block-card::after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.block-card::before {
    content: '';
    position: absolute;
    top: 15px;
    left: -15px;
    width: 100%;
    height: calc(100% - 30px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 15px;
}
.block-card::after {
    content: '';
    position: absolute;
    top: 30px;
    left: -30px;
    width: 100%;
    height: calc(100% - 60px);
    padding: 0 30px;
}
.block-carousel {
    background: grey;
}
.block-carousel__img {
    display: block;
    width: 100%;
}
.block-carousel__cast {
    display: inline-flex;
    position: absolute;
    bottom: 20px;
    left: 160px;
}
.block-carousel__cast-box img {
    padding: 0 10px;
}
.block-card__col {
    flex-grow: 1;
}
.block-card__col--data {
    width: 33%;
    flex-grow: 0;
    position: relative;
}
.block-card-data {
    padding: 30px;
    position: relative;
}


.block-card-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 22px;
    height: 1px;
    background: #b8b7b7;
    cursor: pointer;
}
.block-card-close:before {
    content: '';
    height: 1px;
    position: absolute;
    width: 100%;
    background: #b8b7b7;
}

.block-card-close:before {
    transform: rotate(90deg);
}
.block-card-close {
    transform: rotate(-45deg);
}
.block-card-data-new {
    width: 42px;
    padding: 5px 3px;
    background: #ffa60d;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.block-card-data-head {
    padding: 12px 0 18px 0;
    font-size: 18px;
}
.block-card-data-raiting {
    position: relative;
}
.block-card-data-raiting-name {
    font-size: 10px;
}


.block-card-data-raiting {
    position: relative;
}
.block-card-data-raiting-stars {
    width: 100px;
    margin: -13px 0 0 80px;
}
.block-card-data-raiting-stars input {
    position: absolute;
    top: 3px;
    left: 2px;
    opacity: 0;
    z-index: -1;
    width: 5px;
    height: 5px;
    cursor: pointer;
}
.block-card-data-raiting-stars label {
    width: 9px;
    height: 10px;
    margin: 3px;
    float: right;
    background-image: url('../img/stars.png');
}

.block-card-data-raiting-stars label:hover,
.block-card-data-raiting-stars input:checked + label,
.block-card-data-raiting-stars label:hover ~ label,
.block-card-data-raiting-stars input:checked ~ label {
    background-position: -13px 0;
    cursor: pointer;
}

.block-card-data-price {
    font-size: 25px;
    padding: 18px 0;
}
.block-card-data__button {
    width: 120px;
    font-size: 10px;
    color: #000;
    margin: 2px 0;
    padding: 10px;
}
.block-card-data__button:hover {
    color: #fff;
    background: #a200b8;
    cursor: pointer;
    border: none;
}

.block-card-data-size-number {
    position: relative;
}
.block-card-data-size-number-box {
    width: 200px;
    display: inline-flex;
    justify-content: center;
    padding: 0;
    margin: 20px 0 60px -20px;
}
.box-input {
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
}
.box-input p {
    text-align: center;
    font-size: 18px;
    padding: 2px;
    border: 1px solid transparent;

}
.block-card-data-size-number-box label {
    width: 25px;
    position: absolute;
    float: right;
}
.block-card-data-size-number-box input {
    position: absolute;
    top: 7px;
    left: 5px;
    opacity: 0;
    z-index: -1;
}
.box-input p:hover,
.box-input input:checked + p {
    cursor: pointer;
    border: 1px solid;
}

